.header {
  background-color: beige;
  width: 100%;
  padding: 0 40px;
}

.route-container {
  display: flex;
  flex-direction: row;
}

.route-item {
  display: flex;
  padding: 20px 20px;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hide {
  display: none;
}

.active {
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.dropdown-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

profile-menu .mat-icon {
  font-size: 2rem;
  color: rgba($color: #000000, $alpha: 0.6);
}

.icon-2x {
  font-size: 2rem;
  width: 2rem;
}
