<header class="header">
  <nav class="navigation">
    <ul class="route-container">
      <li>
        <a
          matRipple
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          aria-label="első oldal"
          class="route-item"
          href="#"
        >
          első oldal
        </a>
      </li>
      <li>
        <a
          routerLink="/page-2"
          matRipple
          routerLinkActive="active"
          aria-label="második oldal"
          class="route-item"
          href="#"
          >második oldal</a
        >
      </li>
      <li *ngIf="this.loggedIn">
        <a
          matRipple
          routerLink="/page-3"
          routerLinkActive="active"
          aria-label="harmadik oldal"
          class="route-item"
          href="#"
          >login only
        </a>
      </li>
    </ul>
    <div *ngIf="!this.loggedIn; else user" (click)="this.authenticationHandler()" class="login">
      <a matRipple class="route-item"> Login </a>
    </div>
    <ng-template #user>
      <div class="dropdown-menu-button">
        <button aria-label="drop down menu" mat-icon-button [matMenuTriggerFor]="menu" class="profile-menu">
          <mat-icon class="icon-2x">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button aria-label="logout" (click)="this.authenticationHandler()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>logout</span>
          </button>
        </mat-menu>
      </div>
    </ng-template>
  </nav>
</header>
