<form #form="ngForm" class="login-form">
  <mat-form-field class="example-full-width">
    <mat-label>Username: </mat-label>
    <input required minlength="1" name="username" matInput [(ngModel)]="this.username" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password: </mat-label>
    <div class="password">
      <input
        required
        matInput="password"
        [type]="this.showPassword ? 'text' : 'password'"
        minlength="6"
        name="password"
        [(ngModel)]="this.password"
      />
      <button type="button" (click)="this.handleVisibilityChange()" class="visibility">
        <mat-icon *ngIf="this.showPassword; else visible">visibility</mat-icon>
        <ng-template #visible><mat-icon>visibility_off</mat-icon></ng-template>
      </button>
    </div>
  </mat-form-field>

  <div class="button-container">
    <button type="button" class="login-button" mat-raised-button aria-label="Vissza" (click)="this.handleCloseModal()">
      <div>Vissza</div>
    </button>
    <button class="login-button" mat-raised-button aria-label="Belépés" (click)="this.loginHandler()" color="primary">
      <div *ngIf="!loading; else spinner">Belépés</div>
      <ng-template #spinner><mat-spinner diameter="24" color="background"></mat-spinner></ng-template>
    </button>
  </div>
</form>
