.login-form {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.125rem;
  height: 2.25rem;
}

.mat-spinner::ng-deep circle {
  stroke: #fff;
}

.password {
  display: flex;
  flex-direction: row;
}

.visibility {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: transparent;
  cursor: pointer;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
