<main class="main">
  <section class="information">
    <article>
      <h1>Save the Squirrels initiative</h1>
      <p class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
        exercitationem iusto distinctio officia autem praesentium asperiores
        illum ducimus. Velit omnis nobis ipsa tenetur blanditiis corrupti
        dignissimos possimus suscipit qui quae.
      </p>
      <p class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
        exercitationem iusto distinctio officia autem praesentium asperiores
        illum ducimus. Velit omnis nobis ipsa tenetur blanditiis corrupti
        dignissimos possimus suscipit qui quae.
      </p>
      <!-- TODO: find images with same aspect ratio -->
      <!-- <img
          srcset="./assets/img1.jfif 480w, ./assets/img2.jfif 800w"
          src="./assets/img1.jfif"
          sizes="(max-width: 600px) 480px, 800px"
          alt="én egy kép vagyok"
        /> -->
      <picture>
        <source media="(max-width:600px)" srcset="./assets/img3.jfif" />
        <source media="(max-width:1200px)" srcset="./assets/img2.jfif" />
        <source media="(min-width:1201px)" srcset="./assets/img1.jfif" />
        <img src="./assets/img1.jfif" alt="" />
      </picture>
      <figcaption>
        ez itt egy kép ami a böngésző méretéhez képest adja vissza a megfelelő
        felbontású képet
      </figcaption>
      <p class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
        exercitationem iusto distinctio officia autem praesentium asperiores
        illum ducimus. Velit omnis nobis ipsa tenetur blanditiis corrupti
        dignissimos possimus suscipit qui quae.
      </p>
      <div class="paragraph">
        <cite lang="en"
          >There is no nation benefits from prolonged warfare - Sun Tzu</cite
        >
      </div>
      <p class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
        exercitationem iusto distinctio officia autem praesentium asperiores
        illum ducimus. Velit omnis nobis ipsa tenetur blanditiis corrupti
        dignissimos possimus suscipit qui quae.
      </p>
      <footer class="article-footer">
        <div class="source">
          source:
          <a
            aria-label="a cikk forrása"
            href="http://www.google.com"
            target="_blank"
          >
            dude trust me</a
          >
        </div>
      </footer>
    </article>
  </section>

  <section>
    <form action="">
      <div class="label-section">
        <label for="name">név: </label>
        <input name="name" autocomplete="name" type="text" />
      </div>
      <div class="label-section">
        <label for="nem">nem:</label>
        <select name="nem" id="">
          <option value="férfi">férfi</option>
          <option value="nő">nő</option>
        </select>
      </div>
      <fieldset class="label-section">
        <legend for="depression">depresszió típusa:</legend>
        <input type="radio" name="depression" id="constans" value="constans" />
        constans
        <input type="radio" name="depression" id="ingadozó" value="ingadozó" />
        ingadozó
      </fieldset>
      <div class="label-section">
        <p>
          <input type="checkbox" id="inards" name="inards" value="inards" />
          <label for="inards">hozzájárulok a szerveim eladásához</label>
        </p>
      </div>
      <div class="action-buttons">
        <input aria-label="reset" type="reset" value="reset" />
        <input aria-label="submit" type="submit" value="submit" />
      </div>
    </form>
  </section>
</main>
