.main {
  flex: 1;
  padding: 1rem 1.2rem;
}

.paragraph {
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}

.article-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

section {
  margin-bottom: 4rem;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.label-section {
  margin-bottom: 0.6rem;
}

cite {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
